# Python
__pycache__/
*.py[cod]
*.pyd
*.log

# Env files / secrets
.env
.env.*
*.env

# Virtualenvs
venv/
.venv/
env/

# Django artifacts
static/
media/

# Tests / coverage
.pytest_cache/
.coverage
htmlcov/

# IDE / OS
.idea/
.vscode/
.DS_Store

# Scripts
up.bat

# Private
private/